/* fonts:
      font-family: "Bebas Neue", sans-serif;
      font-family: "Teko", sans-serif;
*/

/* paleta de colores */
:root {
    --white: #fdffffff;
    --eerie-black: #1f1d1dff;
    --mint: #02c39aff;
    --caribbean-current: #246a73ff;
    --folly: #ff3366ff;
}

/* ESTILOS GENERALES DE LA APP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    background-color: var(--eerie-black);
    font: 14px "Montserrat", sans-serif;
    color: var(--white);
    text-decoration: none;
    list-style: none;
}

.page_titles {
    margin: .5em;
    font-size: 2.5em;
}

.main_container {
    padding: 2em;
}

/* BARRA DE NAVEGACION */
.navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    background-color: var(--eerie-black);
}

.navbar_title {
    color: var(--folly);
    margin: .5em;
    font: 3em "Bebas Neue", sans-serif;
}

.navbar_items {
    display: flex;
    flex-direction: row;
}

.navbar_items a {
    margin: 1em;
    font: 2em "Bebas Neue", sans-serif;
}

.navbar_login {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.btn_navlogin, .btn_navregistro {
    font: 1.5em "Bebas Neue", sans-serif;
    font-weight: 500;
    color: var(--mint);
}

.btn_navregistro {
    color: var(--caribbean-current);
}

.btn_navregistro:hover, .btn_navlogin:hover {
    transform: scale(1.3);
    margin: 0 1.1em;
    transition: all 1s ease-in-out;
}

ul > li:hover {
    text-shadow: 2px 2px 10px var(--mint);
    transition: all 1s ease;
}

.btn_navdeslogin {
    background-color: var(--folly);
    color: var(--white);
    font-weight: 500;
    margin: .5em;
    padding: .5em;
    border-radius: 2px;
}

.btn_navdeslogin:hover {
    cursor: pointer;
    background-color: var(--eerie-black);
    color: var(--folly);
    transition: all 1s ease;
}

.navbar_imgperfil {
    width: 50px;
    margin: auto;
    border-radius: 10px;
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA DEFAULT */
.container_busqueda {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.busqueda_ddl, .busqueda_txt {
    width: 150px;
    margin: auto .5em;
    border-radius: 2px;
    padding: .3em;
    font-weight: 500;
}

.busqueda_txt {
    background-color: var(--white);
    color: var(--eerie-black);
}

.btn_desactivado {
    background-color: dimgrey;
    color: var(--white);
    border-radius: 2px;
    font-weight: 500;
    margin: auto 1em;
    padding: .3em;
}

.cardlist_container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.card_container {
    width: 250px;
    margin: 1em;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--caribbean-current);
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--caribbean-current);
}

.card_img {
    background-color: var(--white);
    width: 100%;
    height: 180px;
    overflow: hidden;
    object-fit: scale-down;
}

.card_body {
    margin: 1em;
}

.card_cod {
    border-bottom: 1px solid var(--mint);
    padding: .5em;
}

.card_title {
    font-size: 1.2em;
    padding: .5em;
}

.card_precio {
    padding: .5em;
    font-size: 1.1em;
    color: var(--mint);
}

.btn_detalle {
    padding: .3em;
    font-weight: 500;
    background-color: var(--mint);
    border-radius: 2px;
    color: var(--white);
}

.btn_detalle:hover {
    cursor: pointer;
    color: var(--mint);
    background-color: transparent;
    border: 1px solid var(--mint);
    transition: all 1s ease;
}

.card_btnFav {
    background-color: transparent;
    border: 1px solid yellow;
    border-radius: 2px;
    font-weight: 500;
    padding: .3em;
    margin: auto 1em;
    color: yellow;
}

.card_btnFavClick {
    background-color: yellow;
    color: var(--eerie-black);
    border-radius: 2px;
    font-weight: 500;
    padding: .3em;
    margin: auto 1em;
    border: none;
}

.card_btnFav:hover {
    cursor: pointer;
    background-color: yellow;
    color: var(--eerie-black);
    border: 1px solid yellow;
    transition: all 1s ease;
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA LISTADOARTICULOS */
.tbl_list {
    margin: 1em auto;
}

.tbl_container {
    margin: 0 auto;
}

.tbl_listheader {
    background-color: var(--white);
    color: var(--eerie-black);
    font-weight: 500;
    padding: 1em;
}

.tbl_listitem {
    padding: 1em;
}

.tbl_button, .btn_agregar {
    background-color: var(--mint);
    color: var(--eerie-black);
    padding: .3em;
    font-weight: 500;
    border-radius: 2px;
    margin: auto 1em;
}

.btn_container {
    text-align: center;
    margin: 1em auto;
}

.btn_agregar {
    border-radius: 2px;
    margin: auto 1em;
}

.tbl_button:hover, .btn_agregar:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--eerie-black);
    transition: all 1s ease;
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA LOGIN */

.login_container {
    height: 300px;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_label {
    font-size: 1.3em;
}

.txt_login, .btn_login {
    padding: .5em;
    margin: .5em;
    width: 30%;
    border: none;
    border-radius: 5px;
}

.txt_login {
    background-color: var(--white);
    color: var(--eerie-black);
}

.btn_login {
    background-color: var(--caribbean-current);
    font-weight: 500;
    padding: .3em;
}

.btn_login:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--caribbean-current);
    transition: all 1s ease;
}

.txt_login:focus {
    border: none;
    background-color: var(--caribbean-current);
    color: var(--white);
    transition: all 1s ease;
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA DETALLE */

.article_container {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    padding: 1em;
    width: 60%;
    border: 1px solid var(--mint);
    border-radius: 10px;
}


.article_bodycontainer {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.article_bodycontainer > div {
    margin: 1em;
    padding: .5em;
}

.article_cod {
    font-weight: 500;
    color: var(--folly);
}

.article_nombre {
    color: var(--mint);
}

.article_precio {
    padding: .3em;
    color: var(--eerie-black);
    background-color: var(--mint);
    font-weight: 500;
}

.article_imgcontainer {
    width: 30%;
    padding: 0 1em;
    height: 300px;
    background-color: var(--white);
    border-radius: 10px;
    margin: auto;
}

.article_img {
    margin: auto;
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    overflow: hidden;
    background-color: transparent;
}

.btn_volver {
    margin: 3em;
    padding: .3em;
    font-weight: 500;
    background-color: var(--folly);
    color: var(--eerie-black);
    border-radius: 2px;
}

.btn_volver:hover {
    background-color: var(--eerie-black);
    border: 1px solid var(--folly);
    color: var(--folly);
    transition: all 1s ease;
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA FORMULARIOARTICULO */

.form_container {
    width: 70%;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid var(--mint);
}

.form_containerrow {
    padding: .5em;
    margin: auto 1em;
    align-content: center;
}

.form_div {
    width: 70%;
    margin: auto 1.5em;
}

.form_txt {
    margin: .3em auto;
    width: 100%;
    background-color: var(--white);
    color: var(--eerie-black);
    border-radius: 5px;
    justify-content: end;
    padding: .3em;
}

.form_ddl {
    margin: .3em auto;
    width: 100%;
    border-radius: 2px;
    padding: .3em;
    font-weight: 500;
}

.form_txtID {
    font-weight: 500;
    text-align: center;
    background-color: var(--caribbean-current);
    color: var(--white);
}

.form_img {
    background-color: var(--white);
    width: 70%;
    border-radius: 5px;
    margin: 1em auto;
    padding: 1em;
}

#UPContainerButtons {
    margin: auto;
}

.form_containerbtn {
    width: 60%;
    text-align: center;
    margin: 1em auto;
}

.btn_eliminar, .btn_modificar {
    background-color: var(--folly);
    color: var(--eerie-black);
    border-radius: 2px;
    font-weight: 500;
    padding: .3em;
    margin: 1em;
}

.btn_modificar {
    background-color: var(--eerie-black);
    color: var(--mint);
}

.btn_eliminar:hover {
    cursor: pointer;
    background-color: var(--eerie-black);
    color: var(--folly);
    transition: all 1s ease;
}

.btn_modificar:hover {
    cursor: pointer;
    background-color: var(--mint);
    color: var(--eerie-black);
    transition: all 1s ease;
}

.btn_cancelar {
    background-color: var(--white);
    color: var(--eerie-black);
    border-radius: 2px;
    font-weight: 500;
    padding: .3em;
    margin: .5em auto;
}

.btn_cancelar:hover {
    cursor: pointer;
    background-color: var(--eerie-black);
    color: var(--white);
    transition: all 1s ease;
}

.modal_container {
    position: absolute;
    align-items: center;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 3em;
    border: 1px solid var(--white);
    border-radius: 10px;
}

.modal_title {
    margin: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

.div_blurr {
    filter: blur(10px);
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA PERFIL */
.profile_container {
    border: 1px solid var(--folly);
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile_containerdivs {
    width: 40%;
}

.profile_div {
    margin: .5em;
    padding: .5em;
}

.profile_divimg {
    width: 40%;
    border-radius: 10px;
}

.profile_id {
    color: var(--folly);
    font-weight: 500;
}

.profile_img {
    margin: 1em;
    width: 70%;
    border-radius: 10px;
    object-fit: scale-down;
}

.profile_btnEditar {
    margin: auto 1em;
    color: var(--eerie-black);
    background-color: var(--folly);
    font-weight: 500;
    padding: .3em;
    border: none;
    border-radius: 2px;
}

.profile_btnEditar:hover {
    cursor: pointer;
    color: var(--folly);
    background-color: transparent;
    border: 1px solid var(--folly);
    transition: all 1s ease;
}

/* ---------------------------------------------------------- */
/* ESTILOS DE LA PAGINA ERROR */

.error_container {
    background-color: var(--white);
    color: var(--eerie-black);
    width: 550px;
    padding: 2em;
    margin: auto;
    border: 1px solid var(--white);
    border-radius: 10px;
}

.error_text {
    padding: 1em;
    margin; 1em;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
    color: var(--eerie-black);
}